body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
.Header {
  padding: 10px;
  background-color: firebrick;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.Header h1 {
  font-size: 18px;
  padding: 0;
  margin: 0;
  text-align: center;
}
.map {
  width: 100vw;
  height: 100hw;
  position: relative;
}

.locationIcon {
  font-size: 2rem;
  color: red;
}

.locationInfo {
  position: absolute;
  top: 80px;
  right: 50px;
  width: 400px;
  min-height: 200px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 18px;
  color: white;
}

.locationInfo ul {
  list-style-type: none;
  padding: 0;
}

.locationInfo li {
  padding: 5px 0;
}
